body {
  margin: 0;
  font-family: "Lora", serif;
  font-family: "Outfit", sans-serif;
  background: rgb(230, 232, 232);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
